.trial1{
    display:flex;
    /* margin-left:15%;
    margin-right:15%; */
    background-color:rgba(255, 255, 255, 0.1);
    height:366px;
      
    border-radius:85px;
    /* width:303px; */



}

.card1:hover{
    width:auto;

}


