.requirement_section {
  margin-top: 10%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(262.31deg, #1c4592 0%, #09317b 100%);
  color: white;
}
.requirement_section_mainbody {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.requirement_section_headersection {
  display: flex;
  justify-content: flex-start;
}
.requirements_section_whiteborder img {
  margin-top: 5%;
}
.requirements_section_titletext {
  margin-top: 3%;
  margin-left: -33%;
  font-size: 36px;
  line-height: 140%;
}
.requirements_section_paragraphsection {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 26px;
  line-height: 140%;
}
.Requirements_cardsection {
  display: flex;
  justify-content: space-around;
}
.requirements_card1 {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 298px;
  height: 366px;
  border-radius: 85px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 1s;
}
.requirements_card1_titlesection {
  margin-top: 5%;
}
.requirements_card1_image img {
  width: 255px;
  height: 210px;
}
.requirements_card1:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1) perspective(1px);
}
.requirements_card1_iconsection {
  display: flex;
  justify-content: space-around;
}
.requirements_card1_iconsection_icon2,
.requirements_card1_iconsection_icon4
 {
  margin-top: 8%;
}
.requirements_card1_iconsection_icon3,
.requirements_card1_iconsection_icon5{
  margin-top:5%;
}
